{
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "prettier-plugin-astro/parser"
            }
        }]
}
